<div class="container player-container">  
<div class="col-sm-9">
 <table class="col-sm-12">
     <thead>
        <th style="width: 70%" ><h4>Choose Team</h4> </th>
         <th style="width: 30%">
        <form action="#" method="get">
       <div class="input-group">
             <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                 <span class="input-group-btn">
                  <button type="submit" class="btn btn-default serach-btn"><i class="fa fa-search"></i></button>
                 </span>
            </div>
    </form>
         </th>
     
     </thead>
 </table>
 <h2>Content from Firebase</h2>
	<div class="col-md-3">
		<pre *ngFor="let team of teamList | async">{{team.teamFirstName}}</pre>
	</div>
 <hr>
    <div class="row">
        <div class="col-sm-12">
            <table id="profile-table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Date</th>
                            <th>Salary</th>
                            <th> &nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let team of teamList | async">
                        <td>{{team.teamFirstName}}</td>
                        <td>{{team.teamLastName}}</td>
                        <td>{{team.teamEmail}}</td>
                        <td>{{team.teamUserName}}</td>
                        <td>{{team.currentTime}}</td>
                        <td>{{team.teamEmail}}</td>
                       <td class="text-center"><button class="btn add-btn">Add</button><button class="btn btn-danger remove-btn" style="display:none;">Remove</button></td>
                    </tr>
                   
                    </tbody>
            </table>
        </div>
    </div>
    </div>
</div>




 