.profile-layout{
    background: url('/assets/images/dashboard-image.jpg');
    background-repeat: no-repeat;
    border-radius: 20px; 
    clear: both;
}
.profile-section{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(55, 55, 55, 0.7);
    padding: 20px;
} 
input.hidden {
    position: absolute;
    left: 212px;
    opacity: 0;
    width: 176px;
    height: 200px;
    cursor: pointer;
}
.add-pp{
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}
.add-pp:hover{
    text-decoration: underline;
}
.highlighter{
    color: #86a610;
    display: block;
}  
.owner-nm{
    color: #fff;
    font-size: 30px;  
}  
.profile-section-panel{
    color: #bbb;
}  
.list-1, .list-2, .list-3{
    display: block;
   width: 100%;
}   
.list-1 li{
    display: inline-block;
    padding: 10px;
     color: #999;
}
.list-2 li{
    display: inline-block;
    padding: 10px;
    color: #999;
}
.list-2 li:fist-child, .list-2 li:second-child{
    width: 15%;
}
.list-2 li:third-child, .list-2 li:last-child{
    width: 30%;
}
ul.list-2 label {
    padding-left: 5px;
    color: #fff;
    font-size: 17px;
}
.personal-details{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(55, 55, 55, 0.7);
    padding: 20px;
    margin-top: 20px;
}
.list-3 li{
    display: inline-block;
    padding: 10px;
    width: 25%;
     color: #999;
}
.list-3 li label {
    padding-left: 5px;
    color: #fff;
    font-size: 17px;
}
.bio-details{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(55, 55, 55, 0.7);
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.edit-profie{
    text-align: center;
    border: 2px solid #85952a;
    background: transparent;
    color: #c9e051;
    display: block;
    width: 15%;
    float: right;
    clear: both;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px;
}
.edit-profie:hover{
    text-align: center;
    border: 2px solid #85952a; 
    background: #85952a;
    color: #fff;
    text-decoration: none;
}
/* edit profile css*/

.edit-player-profile {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    display: none;
    z-index: 99999;
    width: 50%;
    padding: 50px 400px 50px 50px;
    bottom: 0;
}
.edit-player-profile h1{
    font-size: 30px;
    color: #000;
}
button.close {
    font-size: 44px;
    color: #000 !important;
    opacity: 10;
}
.edit-player-profile h1{
    color: #9fc319;
}
#profile-pic {
    object-fit: cover;
    width: 176px;
    height: 176px;
    border-radius: 100px;
}
.profile-img-section{
    margin-bottom: 20px;
}