<div class="container">
  <div class="col-sm-9">
        <a class="edit-profie" href="javascript:void(0)">Edit Profile</a>
         <div class="profile-layout">
            <div class="profile-section">
              <div class="row">
              <div class="profile-img-section col-sm-3">
                  <img src="assets/images/default-profile.png" class="img-responsive profile-img">
                  <input id="profile-image-upload" class="hidden" type="file">
                  <div  class="add-pp"> + add profile photo </div>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 profile-section-panel">
                <span class="highlighter">Welcome to Tennis Tune-Up.</span>
                <h5 class="owner-nm">Hi! Jenifer Smith</h5>
                <p>UserName: Smith_Jenifer </p>
                <ul class="list-1">
                  <li>TTU Running</li>
                 <li> Country</li>
                </ul>
                <ul class="list-2">
                  <li>Age <label>30</label></li>
                  <li> Gender  <label>F</label></li>
                  <li>Weight <label>188 ibs(85kg)</label></li>
                  <li>Height  <label>6'11(185 cms) </label></li>
                </ul>
                </div>
            </div>
         </div>   
         </div> 
        <div class="personal-details">
               <div class="row">
                    <ul class="list-3">
                      <li>Birth Place <label>abc</label></li>
                      <li> Residence  <label>xyz</label></li>
                      <li>Plays <label>Left-hands</label></li>
                      <li>Coach  <label>Carlos Moya</label></li>
                    </ul>
               </div>
            </div>
      <div class="bio-details">
         <div class="row">
           <h5>Player Bio</h5>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
             when an unknown printer took a galley of type and scrambled it to make a type 
             specimen book. It has survived not only five centuries.
           </p>
         </div>
      </div> 
  </div>  
</div>

<!--edit player profile:start-->
<div class="edit-player-profile">
  <h1>Player Profile</h1>
</div>
<!--end-->
