
<div class="container">
  <div class="row">
   <div class="col-sm-6">
     <div 
       class="col-md-12 col-sm-12 col-xs-12 details-reg">
        <h2>What is Lorem Ipsum?</h2>
        <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
     <div 
     class="row active-with-click">
        <div 
           class="col-md-6 col-sm-12 col-xs-12">
            <article 
              class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="assets/images/andre-1.jpg">
                    </div>
                    <div class="mc-description">
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="assets/images/img-2.jpg">
                    </div>
                    <div class="mc-description">
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
    </div>
   </div>


<form 
 #f="ngForm" 
 (ngSubmit)="submit(f)" 
 class="form-group col-sm-6">
  <div 
    ngModelGroup="register"
    #register="ngModelGroup">
     <div 
     *ngIf="register.touched && !register.valid">
     </div>
  <div class="register-page">

	<header>
		<ng-container *ngIf="backsignupshow">
			<div>
				<a href="javascript:void(0)" class="back"  (click)="showSignupTypes();" >Back To</a>
			</div>
		</ng-container>
		<h3 class="title-txt"> Sign Up</h3>
		<p>It's <b>free</b> and handly take more than 30 seconds.</p>
	</header>
	<ng-container *ngIf="signuptypeshow">
		<div class="register-choice-item player-item" (click)="showPlayerSignupForm();">
			<h4>Sign Up as Player </h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		</div>
		<div class="register-choice-item team-item" (click)="showTeamSignupForm();">
			<h4>Sign Up as Team </h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		</div>
	   <div class="register-choice-item company-item"  (click)="showCompanySignupForm();">
			<h4>Sign Up as Company </h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		</div>
	</ng-container>
<!--player form start-->
<ng-container *ngIf="playersignupshow">
<div class="panel-form player-signup" >
	<h1> Player</h1>

   <form class="seminor-login-form">
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="user-name">User Name</label>
     </div>
     <div class="form-group">
       <input type="email" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="contact-email">Contact Email</label>
     </div>
     <div class="form-group">
       <input type="password" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="password">Password</label>
     </div>
     <div class="form-group">
       <input type="password" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="password-conf">Confirm Password</label>
     </div>
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="First-name"> First Name </label>
     </div>
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="Last-name"> Last Name </label>
     </div>
       <div class="btn-check-log">
           <button type="submit" class="btn-check-login">Sign Up</button>
       </div>
       <div class="form-group term-group">
           By cliking the signUp button, you agree to our <a href="#">Terms & Condition,</a> and <a href="#">Privacy Policy</a>
       </div> 
     </form>

   <div style="clear:both"></div>
  </div>
</ng-container>
  <!--player form end-->
<ng-container *ngIf="teamsignupshow">
<div class="panel-form team-signup" >
    <h1> Team</h1>
   <form class="seminor-login-form">
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="user-name">User Name</label>
     </div>
     <div class="form-group">
       <input type="email" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="contact-email">Contact Email</label>
     </div>
     <div class="form-group">
       <input type="password" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="password">Password</label>
     </div>
     <div class="form-group">
       <input type="password" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="password-conf">Confirm Password</label>
     </div>
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="First-name"> First Name </label>
     </div>
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="Last-name"> Last Name </label>
     </div>
       <div class="btn-check-log">
           <button type="submit" class="btn-check-login">Sign Up</button>
       </div>
       <div class="form-group term-group">
           By cliking the signUp button, you agree to our <a href="#">Terms & Condition,</a> and <a href="#">Privacy Policy</a>
       </div> 
     </form>
   <div style="clear:both"></div>
  </div>
</ng-container>
<ng-container *ngIf="companysignupshow">
<div class="panel-form company-signup" >
    <h1> Company</h1>
  <form class="seminor-login-form">
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="user-name">User Name</label>
     </div>
     <div class="form-group">
       <input type="email" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="contact-email">Contact Email</label>
     </div>
     <div class="form-group">
       <input type="password" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="password">Password</label>
     </div>
     <div class="form-group">
       <input type="password" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="password-conf">Confirm Password</label>
     </div>
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="First-name"> First Name </label>
     </div>
     <div class="form-group">
       <input type="text" class="form-control" required autocomplete="off">
       <label class="form-control-placeholder" for="Last-name"> Last Name </label>
     </div>
       <div class="btn-check-log">
           <button type="submit" class="btn-check-login">Sign Up</button>
       </div>
       <div class="form-group term-group">
           By cliking the signUp button, you agree to our <a href="#">Terms & Condition,</a> and <a href="#">Privacy Policy</a>
       </div> 
     </form>
   <div style="clear:both"></div>
  </div>
</ng-container>   

  </div><!--register-page end-->



   <footer>
  <a routerLink="/login" class="btn lg-btn">Already have one? <strong>Sign In here.</strong></a> 
</footer>
 </div>
</form>

</div>
</div>



